/* Réinitialiser certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
}

.background-section,
.form-section {
    flex: 1;
}

.background-section img {
    width: 100%;
    height: auto;
}

.form-section {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: calc(100% - 30px);
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .main-section {
        flex-direction: column;
    }

    .background-section,
    .form-section {
        width: 100%;
    }
}
