/* Réinitialiser certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

header img {
    max-height: 50px;
}

.main-section {
    display: flex;
    height: 100%;
}

.background-section,
.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section {
    background: url("https://source.unsplash.com/random/1200x800") no-repeat center center fixed;
    background-size: cover;
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
}

form {
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: calc(100% - 30px);
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .main-section {
        flex-direction: column;
    }
}
